@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .menu will compile to
  .menu.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 20px;
  }
}