@import "../theme";

.header {
  &.container {
    @include center;
    background-color: black
  }

  &.title {
    font-weight: bold;
    font-family: $fontTitle;
    color: $background;
    text-align: center;
  }
}