@import "../theme";

.login {
  &.container {
    margin-top: 2em;
    min-height: 200px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 30em;
    height: 15em;
    font-size: 30px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: transparentize(white, 0.2);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    font-family: $fontNormal;
  }
  &.input {
    height: 50px;
    padding-left: 15px;
    margin-left: -4px;
    border: solid;
    border-color: rgba(45, 44, 44, 0.653);
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: white;
    color: $textColor;
    
    
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.h1 {
    @include center;
    font-size: 45px;
  }
  &.button-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 30em;
    height: 5em;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.button-container {
    @include center;
    margin-top: 2em;
  }
}