@import "../../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .friends will compile to
  .friends.user-list

  for more information visit https://sass-lang.com/guide
 */

.friends {
  &.base-container {
    background: transparent;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: $dropShadow;
  }

  &.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px;
  }
    
&.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: purple;
    width: 55%;
    height: 200px;
    border-radius: $borderRadius;
    box-shadow: $dropShadow;
  }

&.requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: green;
    width: 40%;
    height: 200px;
    border-radius: $borderRadius;
    box-shadow: $dropShadow;
  }

  &.h1 {

    font-size: 1.5em;
    font-weight: 300;
    color: $textColor;
  }

  &.add-friend-container {
    display: flex;
    justify-content: space-between;
  }

  &.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-top: 1em; // Add some spacing between containers and form
  }

  &.list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    font-family: $fontNormal;
  }
  &.input {
    height: 20%;
    width: 100%;
    border: solid;
    border-color: rgba(45, 44, 44, 0.653);
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
}
