@import "../../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .menu will compile to
  .menu.user-list

  for more information visit https://sass-lang.com/guide
 */

.leaderboard {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    width: 100%;
    //height: 200px;
  }
  &.user-list {
    list-style: none;
    display: flex; // Added to make the list items flex containers
    justify-content: space-around; // Added to evenly distribute items horizontally
    flex-direction: column;
    width: 100%;
  }
  .sorting {
    width: 100%; // Added to ensure the sorting buttons span the whole width
    display: flex; // Added to make the buttons flex containers
    justify-content: space-around; // Adjusted to evenly distribute buttons
    margin-bottom: 1em; // Added some margin at the bottom for separation
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.player {
  &.container {
    //margin: 0.5em 0;
    //width: calc(25% - 1em);
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
    flex:1;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;

  }
  &.username {
    font-weight: 500;
    color: $accent;
    width: 50%;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-weight: 300;
  }

}
.sorting {
  display:flex;
  flex-direction: row;
}