@import "../../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .menu will compile to
  .menu.user-list

  for more information visit https://sass-lang.com/guide
 */

.profile {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .container {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
    }

    .picture {
        flex:1;
        position: relative;
        background: lighten($background, 20%);
        border-radius: $borderRadius;
        //width: auto;
        padding: 0; // remove any padding
        margin-right: 1em;
        display: flex;
        justify-content: center;

        img {
            width: auto;
            height: auto;
            object-fit: cover;
            display: block;
            border-radius: $borderRadius;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .details {
        background: lighten($background, 20%);
        border-radius: $borderRadius;

        flex: 7;
        display: flex;
        flex-direction: column;
        width: 100%;


        .item {
            flex: 1;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: space-between;

            &.label {
                margin-left: 0.5em;
                text-align: left;
            }

            .value {
                margin-right: 0.5em;
                text-align: right;
                font-family: $fontNormal;
            }

            .profile-input {
                border-radius: 0.75em;
                width: 50%;
                background-color: transparent;
                font-family: $fontNormal;

            }

            .player-container {
                display: flex;
                align-items: center;
                flex:1;
                flex-direction: row;
                justify-content:space-between;
                color: $textColor;
            }
        }
        

    }
    .changeTextOverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
        font-family: $fontNormal;
        color: black;
        cursor: pointer;

    }

    .delete-button {
        margin-top: 15px;
        background: #ad3a38;
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto; /* vertical scrolling if needed */
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 34px;
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    font-family: $fontNormal;
    margin-bottom: 20px;
}

.popup .close:hover {
    color: #666;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* column numbers */
    gap: 20px; /* gap between images */
}

.imageContainer {
    position: relative;
    width: 100%; /*  each image equal size */
    padding-top: 100%; /*  aspect ratio for each container */
    overflow: hidden; /* hide overflowing content */
}

.imageContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius;
    cursor: pointer;
}